body{
    background-color: #efeff4;
    overflow-x:hidden;
}

.default-wrap{
    margin:0 16px;
    color:#919191;
}
.default-wrap>dl{
    margin-top:40px;
}
.default-wrap>dl.wifi{
    margin-top:24px;
}
.default-wrap>dl>dt{
    padding-left:26px;
    font-size:15px;
    line-height:30px;
}
.default-wrap>dl>dd{
    padding-left:26px;
    font-size:13px;
    line-height:2;
}
.default-wrap>dl>dd:nth-child(5){
    position:relative;
}
.default-wrap>dl>dd>span.mark{
    color:#272727;
    font-weight:bold;
    font-size:13px;
}
.default-wrap>dl>dd>label{
    display:inline-block;
    font-size:11px;
    margin-bottom:3px;
}
.default-wrap>dl>dd i.icon1,.default-wrap>dl>dd i.icon2{
    position:absolute;
    right:5px;
    width:20px;
    height:20px;
    display:inline-block;
}
.default-wrap>dl>dd i.icon1{
    top:35%;
    background:url(../img/ico-4.png) 0 center no-repeat;
    background-size:100% 100%;
}
.default-wrap>dl>dd i.icon2{
    top:65%;
    background:url(../img/ico-5.png) 0 center no-repeat;
    background-size:100% 100%;
}
.default-wrap>dl>dd+dd{
    margin-top:15px;
}
.default-wrap>dl.bluetooth>dt{
    color:#272727;
    font-weight:bold;
    background:url(../img/ico-1.png) 0 center no-repeat;
    background-size:auto 18px;
    margin-bottom: 6px;
}
.default-wrap>dl.wifi>dt{
    color:#272727;
    font-weight:bold;
    background:url(../img/ico-2.png) 0 center no-repeat;
    background-size:auto 18px;
    margin-bottom: 6px;
}
@media screen and (max-width: 320px) {
    .default-wrap>dl>dd i.icon1{
        top:55%;
        width:15px;
        height:15px;
    }
    .default-wrap>dl>dd i.icon2{
        width:15px;
        height:15px;
        top:75%;
    }
}